@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.page-header {
	padding-left: 80px;
}

#main_right {
	float: right
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

/* forms */

#form{
	padding-top: 80px;
	text-align: center;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}