<header>
  <div class="page-header">
    <div class="logo"> <%= image_tag("FDL.png") %> </div>
    <h1><%= link_to "Fleur", root_path, class: "brand" %> <small>| Discover wonderful clothes</small></h1>
  </div>
</header>